*{margin:0; padding: 0}
body{
  background-color: #ebebeb;
  font-family: helvetica;
}
header{
  background-color: #353535;
  height: 93px;
  width: 100%;
  border-bottom: 3px solid #16a085;
  overflow: hidden;
}
.row{
  width: 100%;
}
.namearea{
  color: #ebebeb;
  float: left;
  padding-top: 20px;
  padding-left: 100px;
  font-size: 23px;
  }

.namearea a{
  color: #ebebeb;
  text-decoration: none;
  font-size: 30px;
}

.navarea{
    float: right;
    padding-top: 27px;
    text-decoration: none;
}

#nav{
  margin-right: 40px;
}

#nav a{
  color: #ebebeb;
  text-decoration: none;
}

#nav li{
  float:left;
  margin-left: 30px;
  padding: 10px;
  padding-right: 10px;
  list-style-type: none;
  font-size: 20px;
}

#nav a:hover{
  color: #16a085;
}

.titlecontainer{
  height: 35px;
  width: 100%;
  background-color: #16a085;
}

.titlecontainer h2{
  text-align: center;
  padding-top: 5px;
  color: #ebebeb;
  font-size: 22px;
  letter-spacing: 15px;
  padding-left: 15px
}

.titlecontainer:hover{
  cursor: default;
}

.spacer{
  width: 100%;
  padding-top: 100px;
}

.entry{
  margin-left: 10%;
  width: 1080px;
  height: 300px;
  background-color: #7f8c8d;
}

.img-row{
  padding-top: 50px;
  position: relative;
}

.vspacer{
  position: absolute;
  width: 5%;
  height: 100%;
  background-color: purple;
}

.img-container{
  width: 90%;
  height: 100%;
  background-color: blue;
}

.img-wrap{
  width: 200px;
  height: 200px;
  padding-left: 20px;
  position: relative;
  display: inline-block;
  background-color: red;
}

.img{
  position: absolute;
  display: block;
  background-color: black;
  width: 50%;
  height: 50%;
  margin-top: 30px;
}
